*[class^='webchat__'] {
  font-family: inherit !important;
  font-weight: inherit !important;
}

*[class^='webchat__'] * {
  font-family: inherit !important;
  font-weight: inherit !important;
}

*[class^='webchat__'] b {
  font-weight: 700 !important;
}

*[class^='webchat__']:focus {
  outline: none;
}

.webchat__toggle_button, .webchat__toggle_button:active, .webchat__toggle_button:focus {
  display: block;
  position: fixed;
  right: 20px;
  bottom: 20px;
  min-width: 60px;
  height: 60px;
  padding: 3px;
  border: none;
  border-radius: 30px;
  background: #76cc6e;
  background-color: #76cc6e;
  color: white;
  cursor: pointer;
  z-index: 9000;
  font: 20px 'Open Sans';
  font-size: 20px;
  font-weight: 600;
  text-transform: none;
  line-height: 26px;
}

.webchat__toggle_button_left {
  left: 20px;
  right: initial;
}

@media only screen and (max-width: 500px) {
  .webchat__toggle_button {
    cursor: default;
  }
}

@media only screen and (max-width: 400px) {
  .webchat__toggle_button {
    right: 10px;
  }

  .webchat__toggle_button_left {
    left: 10px;
    right: initial;
  }
}

.webchat__toggle_button:hover {
  background: #6ac562;
  background-color: #6ac562;
  border: none;
  color: white;
}

.webchat__toggle_button > img {
  max-width: 100%;
  max-height: 100%;
}

.webchat__toggle_button > .webchat__chat > img {
  height: 48px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  vertical-align: middle;
  left: 6px;
}

.webchat__toggle_button > .webchat__close > svg {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.webchat__toggle_button > .webchat__close {
  width: 54px;
}    

.webchat__toggle_button:not(.webchat__active) > .webchat__chat {
  display: block !important;
}

.webchat__toggle_button:not(.webchat__active) > .webchat__close {
  display: none !important;
}

.webchat__toggle_button.webchat__active > .webchat__chat {
  display: none !important;
}

.webchat__toggle_button.webchat__active > .webchat__close {
  display: block !important;
}

.webchat__chat_window {
  display: none !important;
  position: fixed;
  bottom: 95px;
  right: 20px;
  width: 30%;
  height: calc(100% - 120px);
  max-height: 610px;
  max-width: 400px;
  min-width: 320px;
  border: 1px solid #76cc6e;
  background-color: white;
  overflow: hidden;
  z-index: 99999999999;
  border-radius: 18px !important;
}

.webchat__chat_window_left {
  left: 20px;
  right: initial;
}

.webchat__chat_window.webchat__active {
  display: flex !important;
  flex-direction: column;
}

@media only screen and (max-width: 400px) {
  .webchat__chat_window {
    left: 10px;
    right: 10px;
    width: auto;
    min-width: initial;
    max-width: initial;
  }
}

.webchat__chat_window > .webchat__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 48px;
  flex-shrink: 0;
  color: #777;
  border-bottom: 1px solid #76cc6e;
  position: relative;
}

.webchat__chat_window > .webchat__header b {
  color: #76cc6e;
}

.webchat__chat_window > .webchat__header .webchat__small {
  font-size: 11px;
}

.webchat__chat_window > .webchat__header > .webchat__header_icon_close {
  position: absolute;
  top: 1px;
  right: 3px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border: none;
  background: none;
  display: none;
}

@media only screen and (max-width: 768px) {
  .webchat__chat_window > .webchat__header > .webchat__header_icon_close {
    display: block;
  }
  .webchat__toggle_button.webchat__active {
    display: none;
  }
  .webchat__chat_window.webchat__active {
    bottom: 10px;
    height: calc(100% - 20px);
  }
}

.webchat__chat_window > .webchat__header > .webchat__header_icon_close > svg {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

#webchat__loader {
  display: block !important;
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  padding: 12px;
  text-align: center;
  font-size: 14px;
  background-color: white;
}

#webchat__webchat {
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
  position: relative !important;
}

#webchat__webchat .webchat__imageAvatar__image img {
  background-color: white !important;
}

#webchat__webchat .webchat__bubble__content  {
  background-color: #edf9ed !important;
  border-radius: 12px !important;
  border-color: #e0ffe0 !important;
}

#webchat__webchat .ac-actionSet > .ac-pushButton {
  padding: 5px 10px !important;
  text-transform: none !important;
  border-radius: 12px !important;
  border: 1px solid #b9d8b6 !important;
  letter-spacing: normal !important;
  cursor: default !important;
  min-height: 37px !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 25.9px !important;
  outline: none !important;
}

#webchat__webchat .ac-actionSet > .ac-pushButton:hover {
  border: 1px solid #759272 !important;
}

#webchat__webchat .ac-actionSet > .ac-pushButton:active {
  outline: none !important;
}

#webchat__webchat .ac-actionSet > .ac-pushButton > div {
  white-space: pre-line !important;
  color: #5f7d5c;
}

#webchat__webchat .attachment.bubble {
  min-width: 200px !important;
}

#webchat__webchat > div {
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
}

#webchat__webchat > div > div > .webchat__scrollToEndButton {
  display: none;
}

#webchat__webchat > div > div:nth-child(2) {
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  bottom: 49px !important;
  overflow: auto !important;
}

#webchat__webchat > div > div:last-child {
  position: absolute !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  border-top: 1px solid #76cc6e;
}

#webchat__webchat .main, #webchat__webchat .main form, #webchat__webchat .main form input {
  background-color: #eee !important;
  height: 49px !important;
  box-shadow: none !important;
  border: none !important;
  margin: 0;
}

#webchat__webchat .main form {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

#webchat__webchat .main > div > button {
  background-color: transparent !important;
  border: none !important;
}

#webchat__webchat > div > div > div > ul > li {
  margin-left: 0 !important;
}

#webchat__webchat a:link, #webchat__webchat a:visited {
  color: blue !important;
}

#webchat__webchat p {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  line-height: 20px !important;
  letter-spacing: normal !important;
  text-align: left !important;
  font-size: 14px;
}

#webchat__webchat p + ul {
  margin-top: 0;
}

#webchat__webchat .webchat__row.message {
  margin: 0 !important;
}

#webchat__webchat .webchat__row .css-ageddn:not(.from-user) p:not(:first-child),
#webchat__webchat .webchat__row .ac-container ul > li p,
#webchat__webchat .webchat__row .ac-container ol > li p {
  margin-top: 3px !important;
}

#webchat__webchat .webchat__row .ac-container ul > li,
#webchat__webchat .webchat__row .ac-container ol > li {
  margin-bottom: 5px !important;
}

#back-to-top {
  display: none !important;
}

.webchat__connectivityStatus {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
}
